<!DOCTYPE html>
<html>
<head>
<title>Average Temperature</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</head>
<body>
<br /><br />
<div class="container">
   <br />
   <h2 align="center">Average Temperature</h2>
   <br />
    <div class="col-md-4" style="margin-left:380px;">
      <form method="post" id="multiple_select_form_state">
        <label for="states">Select a State(s)</label>  
        <select name="states" id="states" class="form-control selectpicker" data-live-search="true" multiple>
            {% for state in all_states %}
            <option value="{{state}}">{{state}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="hidden" name="selectedStates" id="selectedStates" />
        <div style="margin-left:120px;">
          <input type="submit" name="submitstates" class="btn btn-info" value="Select States" />
        </div>
      </form>
      <br /><br />
      <form method="post" id="multiple_select_form_year">
        <label for="years">Select a Year(s)</label>  
        <select name="years" id="years" class="form-control selectpicker" data-live-search="true" multiple>
            {% for year in years %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="hidden" name="selectedYears" id="selectedYears" />
        <div style="margin-left:120px;">
          <input type="submit" name="submityears" class="btn btn-info" value="Select Years" />
        </div>
      </form>
      <br /><br />
      <form method="post" id="multiple_select_form_month">
        <label for="months">Select a Month(s)</label>  
        <select name="months" id="months" class="form-control selectpicker" data-live-search="true" multiple>
            {% for month in months %}
            <option value="{{month}}">{{month}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="hidden" name="selectedMonths" id="selectedMonths" />
        <div style="margin-left:120px;">
          <input type="submit" name="submitmonths" class="btn btn-info" value="Select Months" />
        </div>
      </form>
      <br /><br />
      <div style="margin-left: 120px;">
    <!-- <input type="submit" name="submitmonths" class="btn btn-info" value="Select Months" /> -->
</div>
</form>
<div id="plot-container"></div>
<br />
</div>
</div>
<script>
$(document).ready(function(){
$('.selectpicker').selectpicker();

$('#states').change(function(){
    $('#selectedStates').val($('#states').val());
});

$('#years').change(function(){
    $('#selectedYears').val($('#years').val());
    if (selectedYears.includes('all')) {
        $('#years option').prop('selected', true);
        $('#years option[value="all"]').prop('selected', false);
    }
    $('#selectedYears').val($('#years').val());
    $('#years').selectpicker('refresh');
});

$('#months').change(function(){
    $('#selectedMonths').val($('#months').val());
});

$('#multiple_select_form_state').on('submit', function(event){
    event.preventDefault();
    if($('#states').val() != '')
    {
        var form_data = $(this).serialize();
        $.ajax({
            url:"/ajax_states_avg_temp",
            method:"POST",
            data:form_data,
            success:function(data)
            {
                var all_option = '<option value="all">All</option>';
                $('#years').html(all_option + data.years_list);
                $('#years').selectpicker('refresh');
            }
        })
    }
    else
    {
        alert("Please select State");
        return false;
    }
});

$('#multiple_select_form_year').on('submit', function(event){
    event.preventDefault();
    if($('#years').val() != '')
    {
        var form_data = $(this).serialize();
        $.ajax({
            url:"/ajax_years_avg_temp",
            method:"POST",
            data:form_data,
            success:function(data)
            {
                if (data.limit_month_dropdown) {
                    // If only 'All' should be displayed in the month dropdown
                    $('#months').html('<option value="all">All</option>');
                } else {
                    // Display all available months in the month dropdown
                    $('#months').html(data.months_list);
                }
                $('#months').selectpicker('refresh');
            }
        })
    }
    else
    {
        alert("Please select Year");
        return false;
    }
});


$('#multiple_select_form_month').on('submit', function(event){
    event.preventDefault();
    if($('#states').val() != '' && $('#years').val() != '' && $('#months').val() != '')
    {
        var form_data = {
            'selectedStates': $('#states').val().join(','),
            'selectedYears': $('#years').val().join(','),
            'selectedMonths': $('#months').val().join(',')
        };
        $.ajax({
            url: "/ajax_plot_avg_temp",
            method: "POST",
            data: form_data,
            success: function(data)
            {
                $('#plot-container').html(data.plot_div);
            }
        });
    }
    else
    {
        alert("Please select State, Year, and Month");
        return false;
    }
});


});
</script>
</body>
</html>

