<!DOCTYPE html>
<html>
<head>
	<title>Weather Website</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<header>
		<h1>Weather Website</h1>
		<nav>
			<ul>
				<li><a href="/aqis">AQI, PM2.5 and PM10</a></li>
				<li><a href="/weatherstart">Weather Forecast</a></li>
				<li><a href="/weather_alerts">Weather Alert</a></li>
                <li><a href="/temperature">Temperature</a></li>
				<li><a href="/rainfall">Rainfall</a></li>
                <li><a href="/sealevel">SeaLevel</a></li>
                <li><a href="/co2_animation">CO2</a></li>
                <li><a href="/state_co2">State CO2</a></li>

			</ul>
		</nav>
	</header>
	<main>
		<section id="Aqis">
			<h2>AQI, PM2.5 and PM10</h2>
			<p>AQI is a scale used to measure the air quality of a specific location based on the concentration of pollutants in the air. PM10 and PM2.5 are types of particulate matter that can cause respiratory and cardiovascular health problems. PM10 refers to particles with a diameter of 10 micrometers or less, while PM2.5 refers to particles with a diameter of 2.5 micrometers or less. The concentration of these particles in the air is measured in micrograms per cubic meter. Monitoring and controlling the levels of PM10 and PM2.5 is important for maintaining good air quality.</p>
		</section>
		<section id="WeatherForecast">
			<h2>Weather Forecast</h2>
			<p>Weather forecasting is the process of predicting future weather conditions for a particular location over a certain period of time. Weather forecasts are based on various data sources, including current weather conditions, historical weather patterns, and computer models. They typically provide information on temperature, precipitation, wind speed and direction, cloud cover, and other atmospheric conditions that may impact daily life or business operations. Weather forecasts can range from short-term forecasts for the next few hours or days, to medium-range forecasts for a week or more, to long-range forecasts for several weeks or months ahead. Specialized forecasts are also available for specific industries or activities, such as aviation or agriculture. Weather forecasts are an important tool for planning and decision-making in many areas, including transportation, agriculture, energy production, and emergency management.</p>
		</section>
		<section id="Temperature">
			<h2>Temperature</h2>
			<p>Temperature forecast is a type of weather forecast that predicts the expected temperature conditions at a specific location over a particular period of time. Temperature forecasts usually include information on the minimum and maximum temperatures, as well as hourly or daily averages. These forecasts are based on various data sources, including current and historical weather patterns, satellite and radar data, and computer models.</p>
		</section>
		<section id="Rainfall">
			<h2>Rainfall</h2>
			<p>Rainfall forecast is a type of weather forecast that predicts the expected amount and timing of rainfall at a specific location over a certain period of time. Rainfall forecasts are based on various data sources, including current and historical weather patterns, satellite and radar data, and computer models.</p>
		</section>
        <section id="SeaLevel">
			<h2>Sea Level</h2>
			<p>Sea level refers to the average height of the ocean's surface relative to a fixed point on land, usually measured over a period of time. Sea level can vary due to a variety of factors, including tides, storm surges, and changes in ocean currents.</p>
		</section>
        <section id="CO2">
			<h2>CO2</h2>
			<p></p>
		</section>
        <section id="State CO2">
			<h2>State CO2</h2>
			<p></p>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Weather Website. All rights reserved.</p>
	</footer>
</body>
</html>
